.App {
    .sidebar {
        width: 16%;
        height: 100vh;
        background-color: #F4F4F9;
        position: fixed;
        border-right: 2px solid #0C090D;;

    }
    .main-content {
        width: 84%;
        margin-left: 16%;
        background-color: #F4F4F9;
        min-height: 100vh;
        //background-image: url(../img/black.texture.jpg);
        display: grid ;
        position: relative ;
        .content{
            margin: 5rem 2rem;
            
        }
    }
}

.banner{
    padding-bottom: 30vh;
    border-bottom: 2px solid #F4F4F9;
    margin-bottom: 20px;
    
}