.App {
    .sidebar {
        width: 16%;
        height: 100vh;
        background-color: #F4F4F9;
        position: fixed;
        border-right: 1px solid #0C090D;;

    }
    .main-content {
        width: 84%;
        margin-left: 16%;
        background-color: #F4F4F9;
        min-height: 100vh;
        //background-image: url(../img/black.texture.jpg);
        display: grid ;
        position: relative ;
        .content{
            margin: 5rem 5rem;
        }
    }
}