.ServicesSection {
    width: 44%;
    .service {
        width: 97%;
        height: 100%;
        background-color: #f4f4f9;
        border-left: 2px solid #0c090d;
        border-right: 2px solid #0c090d;
        border-bottom: 2px solid #0c090d;
        border-top: 2px solid #0c090d;
        transition: .4s ease-in-out;
        &:hover {
            border-top: 1px solid #c36c32;
            border-left: 1px solid #c36c32;
            border-right: 1px solid #c36c32;
            border-bottom: 1px solid #c36c32;
            background-color: #c36c32;
            color: #f4f4f9;
        }
        .service-content {
            padding: 1rem;
            .image-tab{
                img{
                    height: 55px;
                }
            }
            .s-title {
                font-size: 1.6rem;
                font-weight: 500;
                position: relative;
                padding-bottom: 1rem;
                margin: 1rem 0;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 40%;
                    height: 1px;
                    background-color: #7f636e;
                }
            }
        }
    }

}

.services-container {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}