.SkillsSection{
   margin-bottom: 10px;
   border: 2px #000 solid;
   transition: .4s ease-in-out;
   &:hover {
    border-top: 1px solid #c36c32;
    border-left: 1px solid #c36c32;
    border-right: 1px solid #c36c32;
    border-bottom: 1px solid #c36c32;
    background-color: #c36c32;
    color: #f4f4f9;
}
}

.skills-container{
    margin-top: 2.5rem;
    


    .skill-title{
        font-size: 1rem;
        font-weight: 400;
        margin-left: 6.08vw;
        margin-bottom: 2vw;
        text-transform: uppercase;
        
    }
}