.HomePage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    width: 80%;
}

.hero-text{
    color: #0C090D;
    text-align: left; 
    span{
        color: #0C090D;
        font-size: 10rem;
        font-weight: 300;
    }
}

.hero-two-text{
    color: #0C090D;
    text-align: left;
    font-size: 2rem;

}

.h-sub-text{
    text-align: left;
    font-size: 1rem;
    color: #0C090D;
}

.icons{
    align-items: center;
    justify-content: center;
    padding: 2rem;
    .icon-holder{
        margin-right: 1rem;
        .icon{
            font-size: 2rem;
            color: #7F636E;
            transition: all .4s ease-in-out;

        }
        .gh:hover{
            color: #C36C32;
            font-size: 2rem;
        }
        .ig:hover{
            color: #C36C32;
            font-size: 2rem;
        }
        .li:hover{
            color: #C36C32;
            font-size: 2rem;
        }
    }
}