.PortfolioPage{

}

.buttons{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: .5rem;
    margin: 3rem 0rem;
    @media screen and (max-width: 500px){
        grid-template-columns: repeat(2, 1fr);
    }
    .btn-port{
        width: 100%;
        background-color: inherit;
        color: #0C090D;
        border-left: 2px solid #0c090d;
        border-right: 2px solid #0c090d;
        border-bottom: 2px solid #0c090d;
        border-top: 2px solid #0c090d;
        transition: .4s ease-in-out;
        &:hover {
            border-top: 1px solid #c36c32;
            border-left: 1px solid #c36c32;
            border-right: 1px solid #c36c32;
            border-bottom: 1px solid #c36c32;
            background-color: #c36c32;
            color: #f4f4f9;
        }
    }
}

.portfolios{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
    column-gap: .5rem;
    @media screen and (max-width: 1300px){
        grid-template-columns: repeat(1, 1fr);
    }
    .portfolio{
        padding: 4rem 6rem;
        border-left: 2px solid #0c090d;
        border-right: 2px solid #0c090d;
        border-bottom: 2px solid #0c090d;
        border-top: 2px solid #0c090d;
        .image-data{
            position: relative;
            &::before{
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: #C36C32;
                transform-origin: center;
                transform: scale(0);
                transition: all .4s ease-in-out;
                opacity: 0.2;
            }
            &:hover::before{
                transform: scale(1);
            
            }
            img{
                width: 100%;
                height: 30vh;
                object-fit: cover;
            }
            .hover-items{
                list-style: none;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 1rem 2rem;
                visibility: hidden;
                border-radius: 100%;
                
                li{
                    position: relative;
                    a{
                        
                        padding: 1rem;
                        text-decoration: none;
                        color: #F4F4F9;
                        text-transform: capitalize;
                        font-family: inherit;
                        font-weight: 600;
                        border-radius: 100%;
                        background-color: #C36C32;
                        top: 0;
                    }
                }

                .gitIcon{
                    color: red;
                }
            }

            &:hover{
                .hover-items{
                    transition: all .5s ease-in-out .3s;
                    visibility: visible;
                    top: 80%;

                }
            }
        }
        
        h5{
            padding-top: 20px;
            font-size: 1.2rem;
            font-weight: 500;
            color: #C36C32;
            text-transform: uppercase;
            transition: all .3s ease-in-out;
            &:hover{
                color: #55868C;
                cursor: pointer;
            }
        }
    }
}